<form class="hidden" id="new-child" action="/families/<%= family.id %>/children">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="nickname">Nickname</label></br>
  <input type="text" name="nickname">
  <label for="facebook_username">facebook username</label></br>
  <input type="text" name="facebook_username">
  <input type="submit">
</form>