<form class="hidden" id="new-child" action="/families/<%= family.id %>/children">
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<div class="child">
		<div class="child-photo">Placeholder</div>
	</div>

  <label for="nickname">Nickname</label></br>
  <input type="text" name="nickname">
  <label for="facebook_username">facebook username</label></br>
  <input type="text" name="facebook_username">
  <input type="submit">
</form>