<form class="hidden" id="new-caregiver">
	<label for="nickname">Nickname</label></br>
	<input type="text" name="nickname">

	<label for="first_name">first_name</label></br>
	<input type="text" name="first_name">

	<label for="last_name">last_name</label></br>
	<input type="text" name="last_name">
	
	<label for="notes_on_availability">notes</label></br>
	<input type="text" name="notes_on_availability">
	<input type="submit">
</form>


