<!DOCTYPE html>

	<head>
		<title>User-Our Day</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="base.css">
		<link rel="stylesheet" href="layout.css">
		<link rel="stylesheet" href="skeleton.css">
		<link rel="stylesheet" href="skeleton_wide.css">
	</head>

	<body>

		<div class="container">

			<div class="container sixteen columns user-nav">
				<div class="user-pic">
					<!-- <img src=""> -->
					<p>Image Welcome, Username</p>
				</div>

				<div id="logout">
					<p>Logout</p>
				</div>
			</div>

			<div class="sixteen columns user-date-time">
					<h1>It's 2:00pm on Monday, June 9</h1>
			</div>

			<div class="container sixteen columns" id="list-kids">

				<div class="kid">
					<div class="kid_name">
						<h4>Name HERE</h4>
					</div>
					<div class="kid-photo">
						<h4>Kid Image HERE</h4>
					</div>
					<div class="update-button">
						<p>Update</p>
					</div>
					<div class="kid-view-button">
						<p>KidView</p>
					</div>
				</div>

			</div>

			<div class="sixteen columns">
				
			<h4>Caregivers</h4>

			<div id="add-caregiver">
				<h3>+</h3>
			</div>

				<div class="caregiver-pic">
					<p>caregiver</p>
				</div>

				<div class="caregiver-pic">
					<p>caregiver</p>
				</div>

				<div class="caregiver-pic">
					<p>caregiver</p>
				</div>

				<div class="caregiver-pic">
					<p>caregiver</p>
				</div>
			</div>

	</body>

</html>