<!DOCTYPE html>

	<head>
		<title>User-Our Splash #FIX NEED A BETTER NAME</title>
	</head>

	<body>

		<div id="user-nav">
			<div class="sixteen columns">
				<img class="scale-with-grid user-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">

				<p>Welcome, Username#FIX should be current user after auth is done</p>

				<a id="logout" href="#">Logout</a>
			</div>
		</div>

		<div class="container">

			<div class="sixteen columns" id="user-date-time">

			</div>

			<div class="sixteen columns" id="list-children">


			</div>

			<div class="sixteen columns">
				
			
				
			</div>

	</body>

</html>