<!DOCTYPE html>

<head>
	<title>Our Day</title>
</head>


<body>

<div class="container">
	<div class="sixteen columns header-nav">
		<div id="header-title">
			<h1>Our Day</h1>
		</div>

	</div>

	<div class="seven columns" id="signup_box"> 
		<h2>sign up</h2>
		<%= link_to "Sign Up!", new_user_registration_path %>
	</div>

	<div class="seven columns" id="login_box"> 
		<h2>log in</h2>
	</div>


</div>



</body>


</html>
