.header-nav{
	text-align: center;
}

.activity-event{
	/*border: solid black 1px;*/
	background-color: lightGrey;
	text-align: center;
}

.activity-event-pic{
	/*border: solid black 1px;*/
	height: 100px;
	/*border-radius: 100%;*/
	background-color: grey;
	margin-top: 10px;
}

.person-event{
	/*border: solid black 1px;*/
	background-color: lightGrey;
	text-align: center;
}

.person-event-pic{
	/*border: solid black 1px;*/
	height: 100px;
	border-radius: 100%;
	background-color: grey;
	margin-top: 10px;
}

.timeline{
	/*border: solid black 1px;*/
	background-color: lightGrey;
}

.navigation{
	/*border: solid black 1px;*/
	background-color: yellow;	
}

#date-time{
	/*border: solid black 1px;*/
	background-color: yellow;
}