.header-nav{
	text-align: center;
}


.activity-event{
	/*border: solid black 1px;*/
	background-color: lightGrey;
}

.person-event{
	/*border: solid black 1px;*/
	background-color: lightGrey;
}

.person-event-pic{
	border: solid black 1px;
	border-radius: 100%;
}

.timeline{
	border: solid black 1px;
	background-color: lightGrey;
}

.navigation{
	/*border: solid black 1px;*/
	background-color: yellow;	
}

#date-time{
	/*border: solid black 1px;*/
	background-color: yellow;
}
/*==========user#view==============*/

#list-kids{
	text-align: center;
}

.kid-profile{
	background-color: lightGrey;
	/*height: 150px;*/
	border-radius: 90%;
	text-align: center;		
}

.update-button{
	background-color: lightGrey;
	border-radius: 20%;
}

.kid-view-button{
	background-color: lightGrey;
	border-radius: 20%;
}

.caregiver-pic{
	background-color: orange;
	height: 100%;
	border-radius: 50%;
	text-align: center;	
}

#add-caregiver{
	background-color: green;
	height: 100%;
	border-radius: 50%;
	text-align: center;	
}
